.jumbotron
    .row
        .col-3
            div.vl
                h2  Resultados de <br>aprendizaje
                .brand-line-primary
        .col-9
            p.parrafo.d-block.my-5.align-items-center 220501104 – 1 - Planificar la implementación de la arquitectura de la red según el diseño establecido.




